<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-0">
  <div class="d-block mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
        <li class="breadcrumb-item active" aria-current="page">Quản lý sản phẩm</li>
      </ol>
    </nav>
    <h2 class="h4">Quản lý sản phẩm</h2>
    <p class="mb-0">Tại đây bạn có thể thêm xóa sửa những sản phẩm trong hệ thống của bạn</p>
  </div>
  <div class="btn-toolbar mb-md-0">
    <div class="btn-group"><button type="button" class="btn btn-sm btn-outline-secondary">Share</button> <button
        type="button" class="btn btn-sm btn-outline-secondary">Export</button></div>
  </div>
</div>

<div class="py-4">
  <a href="javascript://" (click)="createFormComponent.open()" class="btn btn-sm btn-primary">
    <span class="fas fa-plus"></span><span> Tạo mới sản phẩm</span></a>
</div>

<div class="table-settings mb-4">
  <div class="row align-items-center justify-content-between">
    <div class="col col-md-6">
      <div class="input-group">
        <input type="text" 
        [(ngModel)]="nameSearch"
        class="form-control" placeholder="Tìm kiếm tên sản phẩm">
        <button class="btn btn-primary" 
        (click)="search()"
        type="button">Tìm kiếm</button>
      </div>
    </div>
    <div class="col-4 col-md-2 col-xl-1 pl-md-0 text-right">
      <div class="btn-group" dropdown placement="bottom right">
        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
          dropdownToggle>
          <span class="icon icon-sm"><span class="fas fa-cog"></span> </span><span class="sr-only">Toggle
            Dropdown</span></button>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <a (click)="pageSize = 30; search();" class="dropdown-item" href="javascript://">
            <span *ngIf="pageSize === 30" class="fas fa-check mr-2"></span>30</a>
          <a (click)="pageSize = 50; search();" class="dropdown-item" href="javascript://">
            <span *ngIf="pageSize === 50" class="fas fa-check mr-2"></span>50</a>
          <a (click)="pageSize = 100; search();" class="dropdown-item" href="javascript://">
            <span *ngIf="pageSize === 100" class="fas fa-check mr-2"></span>100</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="border-0">#</th>
        <th class="border-0">Tên sản phẩm</th>
        <th class="border-0">Hình ảnh</th>
        <th class="border-0">Giá mua</th>
        <th class="border-0">Giá bán</th>
        <th class="border-0">Tồn kho</th>
        <th class="border-0">Hiển thị</th>
        <th class="border-0">Ngày tạo</th>
        <th class="border-0">Ngày cập nhật</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list; let i = index">
        <td><span class="font-weight-bold">{{((pageIndex-1) *pageSize) + (i+1)}}</span></td>
        <td><span class="font-weight-normal">{{item.name}}</span></td>
        <td>
          <div class="user-avatar xl-avatar">
            <img class="rounded" [src]="makeLinkImage(item.avatar)" alt="{{item.avatar}}">
          </div>
        </td>
        <td><span class="font-weight-normal">{{item.buyingPrice | number:'1.0-0'}} ₫</span></td>
        <td><span class="font-weight-normal">{{item.saleprice | number:'1.0-0'}} ₫</span></td>
        <td><span class="font-weight-normal">{{item.inventoryNumber| number:'1.0-0'}}</span></td>
        <td><span class="font-weight-normal">
            <span *ngIf="item.isActive" class="badge super-badge badge-lg badge-success">Có</span>
            <span *ngIf="!item.isActive" class="badge super-badge badge-lg badge-danger">Không</span>
          </span></td>
        <td><span class="font-weight-normal">{{item.createDate | date:'dd/MM/yyyy HH:mm:ss'}}</span></td>
        <td><span class="font-weight-normal">{{item.updateDate | date:'dd/MM/yyyy HH:mm:ss'}}</span></td>
        <td>
          <div class="btn-group" dropdown placement="bottom right">
            <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
              dropdownToggle aria-controls="dropdown-basic">
              <span class="icon icon-sm"><span class="fas fa-ellipsis-h icon-dark"></span> </span><span
                class="sr-only">Toggle
                Dropdown</span></button>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript://" (click)="openUpdateForm(item)"><span
                  class="fas fa-edit mr-2"></span>Edit</a>
              <a class="dropdown-item text-danger" (click)="openRemoveForm(item)" href="javascript://"><span
                  class="fas fa-trash-alt mr-2"></span>Remove</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="card-footer px-3 d-flex align-items-center justify-content-between">
    <pagination [totalItems]="totalSize" [itemsPerPage]="pageSize" [(ngModel)]="pageIndex"
      (pageChanged)="pageChanged($event)"></pagination>
    <div class="font-weight-bold small">Showing <b>{{list.length}}</b> out of <b>{{totalSize}}</b> entries</div>
  </div>
</div>

<!-- create form -->
<app-create-form (search)="search()"></app-create-form>
<app-edit-form (search)="search()"></app-edit-form>

<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="modal-notification" aria-hidden="true">
  <div class="modal-dialog modal-info modal-dialog-centered" role="document">
    <div class="modal-content bg-gradient-secondary">
      <div class="modal-header">
        <p class="modal-title">Thông báo từ hệ thống.</p>
        <button type="button" class="close" (click)="confirmModal.hide()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="py-3 text-center">
          <h4 class="modal-title my-3">Hệ thống muốn xác nhận từ bạn!</h4>
          <p>Bạn có thực sự muốn xóa sản phẩm "<strong>{{itemRemove ? itemRemove.name : ''}}</strong>" ?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="remove()" class="btn btn-sm btn-primary">Xóa</button>
        <button type="button" class="btn btn-sm btn-white" (click)="confirmModal.hide()">Bỏ qua</button>
      </div>
    </div>
  </div>
</div>
