<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-0">
  <div class="d-block mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
        <li class="breadcrumb-item active" aria-current="page">Quản lý hóa đơn</li>
      </ol>
    </nav>
    <h2 class="h4">Quản lý hóa đơn</h2>
    <p class="mb-0">Tại đây bạn có thể thêm xóa sửa những hóa đơn trong hệ thống của bạn</p>
  </div>
  <div class="btn-toolbar mb-md-0">
    <div class="btn-group">
      <button type="button" (click)="createFormComponent.open()" class="btn btn-sm btn-outline-secondary"><span
          class="fas fa-plus"></span><span> Thêm mới hóa đơn</span></button>
      <span dropdown placement="bottom right">
        <button type="button" dropdownToggle style="
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
" class="btn btn-sm btn-outline-secondary">Config bảng</button>

        <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <a (click)="pageSize = 30; search();" class="dropdown-item" href="javascript://">
            <span *ngIf="pageSize === 30" class="fas fa-check mr-2"></span>30</a>
          <a (click)="pageSize = 50; search();" class="dropdown-item" href="javascript://">
            <span *ngIf="pageSize === 50" class="fas fa-check mr-2"></span>50</a>
          <a (click)="pageSize = 100; search();" class="dropdown-item" href="javascript://">
            <span *ngIf="pageSize === 100" class="fas fa-check mr-2"></span>100</a>
        </div>
      </span>
    </div>
  </div>

</div>


<div class="table-settings pt-2">
  <div class="row align-items-center justify-content-between">
    <div class="col col-md-3">
      <div class="form-group">
        <label for="dateRange">Thời gian tạo hóa đơn</label>
        <input id="dateRange" class="form-control" type="text" placeholder="Chọn khoảng thời gian" [(ngModel)]="dateRange"
          class="form-control" bsDaterangepicker>
      </div>
    </div>


    <div class="col col-md-3">
      <div class="form-group">
        <label>Tên khách hàng</label>
        <input type="text" [(ngModel)]="nameSearch" class="form-control" placeholder="Tìm kiếm tên khách hàng">
      </div>
    </div>


    <div class="col col-md-3">
      <div class="form-group">
        <label>Trạng thái hóa đơn</label>
        <select class="form-control" [(ngModel)]="statusSearch">
          <option [ngValue]="-1">Tất cả</option>
          <option [ngValue]="1">Đã hoàn thành</option>
          <option [ngValue]="0">Chưa hoàn thành</option>
        </select>
      </div>
    </div>

    <div class="col col-md-2">
      <div class="form-group">
        <label class="invisible">Tìm kiếm</label>
        <button class="btn btn-primary w-100" (click)="search()" type="button">Tìm kiếm</button>
      </div>

    </div>

  </div>
</div>

<div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0 pb-0">
  <table class="table table-hover m-0">
    <thead>
      <tr>
        <th class="border-0">#</th>
        <th class="border-0">Mã đơn hàng</th>
        <th class="border-0">Tên khách hàng</th>
        <th class="border-0">Danh sách sản phẩm</th>
        <th class="border-0">Tổng tiền</th>
        <th class="border-0">Tiền lời</th>
        <th class="border-0">Trạng thái</th>
        <th class="border-0">Ngày tạo</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="{'out-of-stock': item.inventoryNumber === 0}" *ngFor="let item of list; let i = index">
        <td><span class="font-weight-bold">{{((pageIndex-1) *pageSize) + (i+1)}}</span></td>
        <td><span class="font-weight-normal">{{item._id}}</span></td>
        <td><span class="font-weight-normal">{{item.name}}</span></td>
        <td><span class="font-weight-normal">
            <ul *ngFor="let iProduct of item.list">
              <li>{{iProduct.name}}</li>
            </ul>
          </span></td>
        <td><span class="font-weight-normal">{{item.totalAmount | number:'1.0-0'}} ₫</span></td>
        <td><span class="font-weight-normal text-success">{{item.profitAmount | number:'1.0-0'}} ₫</span></td>
        <td><span class="font-weight-normal">
            <span *ngIf="item.status" class="badge super-badge badge-lg badge-success">Đã hoàn thành</span>
            <span *ngIf="!item.status" (click)="idUpdateStatusOrder = item; confirmStatusModal.show();"
              class="badge super-badge badge-lg badge-danger lift">Chưa hoàn thành</span>
          </span></td>
        <td><span class="font-weight-normal">{{item.createDate | date:'dd/MM/yyyy HH:mm:ss'}}</span></td>
        <td>
          <div *ngIf="!item.status" class="btn-group" dropdown placement="bottom right">
            <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" dropdownToggle
              aria-controls="dropdown-basic">
              <span class="icon icon-sm"><span class="fas fa-ellipsis-h icon-dark"></span> </span><span
                class="sr-only">Toggle
                Dropdown</span></button>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
              <!-- <a class="dropdown-item" href="javascript://" (click)="openUpdateForm(item)"><span
                  class="fas fa-edit mr-2"></span>Edit</a> -->
              <a class="dropdown-item text-danger" (click)="openRemoveForm(item)" href="javascript://"><span
                  class="fas fa-trash-alt mr-2"></span>Remove</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div class="card-footer px-3 d-flex align-items-center justify-content-between">
  <pagination [totalItems]="totalSize" [itemsPerPage]="pageSize" [(ngModel)]="pageIndex"
    (pageChanged)="pageChanged($event)"></pagination>
  <div class="font-weight-bold small">Showing <b>{{list.length}}</b> out of <b>{{totalSize}}</b> entries</div>

</div>

<!-- create form -->
<app-create-form (search)="search()"></app-create-form>
<app-edit-form (search)="search()"></app-edit-form>

<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="modal-notification" aria-hidden="true">
  <div class="modal-dialog modal-info modal-dialog-centered" role="document">
    <div class="modal-content bg-gradient-secondary">
      <div class="modal-header">
        <p class="modal-title">Thông báo từ hệ thống.</p>
        <button type="button" class="close" (click)="confirmModal.hide()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="py-3 text-center">
          <h4 class="modal-title my-3">Hệ thống muốn xác nhận từ bạn!</h4>
          <p>Bạn có thực sự muốn xóa hóa đơn "<strong>{{itemRemove ? itemRemove._id : ''}}</strong>" ?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="remove()" class="btn btn-sm btn-primary">Xóa</button>
        <button type="button" class="btn btn-sm btn-white" (click)="confirmModal.hide()">Bỏ qua</button>
      </div>
    </div>
  </div>
</div>


<div bsModal #confirmStatusModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="modal-notification" aria-hidden="true">
  <div class="modal-dialog modal-info modal-dialog-centered" role="document">
    <div class="modal-content bg-gradient-secondary">
      <div class="modal-header">
        <p class="modal-title">Thông báo từ hệ thống.</p>
        <button type="button" class="close" (click)="confirmStatusModal.hide()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="py-3 text-center">
          <h4 class="modal-title my-3">Hệ thống muốn xác nhận từ bạn!</h4>
          <p>Bạn có thực sự muốn cập nhật trạng thái hóa đơn
            "<strong>{{idUpdateStatusOrder ? idUpdateStatusOrder._id : ''}}</strong>" ?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="updateStatusOrder()" class="btn btn-sm btn-primary">Cập nhật</button>
        <button type="button" class="btn btn-sm btn-white" (click)="confirmStatusModal.hide()">Bỏ qua</button>
      </div>
    </div>
  </div>
</div>
