.no-image {
    font-size: 100px;
    text-align: center;
}


.svg {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  
  .hide {
    display: none;
  }